$font-family-base: "Fira Sans", Helvetica, Arial, sans-serif;
$body-color: #2c3e50;
$font-size-base: 14;

@import 'node_modules/bootstrap/scss/bootstrap.scss';

body {
  background-color: #e5e9f2;
}

label {
  font-size: 1.2rem;
}

.form-group {
  margin-bottom: 10px;

  label {
    margin-bottom: 10px;
  }
}

.icon {
  vertical-align: middle; 
  transform: translateY(-5%);
}