$font-family-base: "Fira Sans", Helvetica, Arial, sans-serif;
$font-size-base: 14;

@import 'node_modules/bootstrap/scss/bootstrap.scss';

:root {
  --iris-1: hsl(243, 65.0%, 99.5%);
  --iris-2: hsl(240, 100%, 99.0%);
  --iris-3: hsl(240, 99.9%, 97.7%);
  --iris-4: hsl(240, 93.5%, 95.9%);
  --iris-5: hsl(240, 86.5%, 93.4%);
  --iris-6: hsl(240, 80.2%, 89.8%);
  --iris-7: hsl(239, 75.3%, 84.6%);
  --iris-8: hsl(238, 73.9%, 77.5%);
  --iris-9: hsl(240, 60.0%, 59.8%);
  --iris-10: hsl(240, 55.7%, 56.7%);
  --iris-11: hsl(240, 50.0%, 52.0%);
  --iris-12: hsl(238, 43.0%, 26.8%);
}

body {
  background-color: var(--iris-2);
  color: var(--iris-12);
}

.btn-link, a {
  color: var(--iris-12);
}

.btn.btn-light {
  background-color: var(--iris-3);
  border-color: var(--iris-6);
  color: var(--iris-12);

  &:hover, &:focus {
    background-color: var(--iris-5);
  }
}

label {
  font-size: 1.2rem;
}

.form-group {
  margin-bottom: 10px;

  label {
    margin-bottom: 10px;
  }
}

.icon {
  vertical-align: middle; 
  transform: translateY(-5%);
}

.card-header {
  background-color: var(--iris-3);
}

.form-control {
  border-color: var(--iris-6);
}

.cm-gutters {
  background-color: var(--iris-3) !important;
}

.cm-content {
  font-family: 'Fira Sans', monospace;
}